body {
  display: flex;
  background-color: #4F55FF;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Section Principal */
.section_geral {
  display: flex;
  box-align: center;
  background-color: white;
  border-color: black;
  color: black;
  border-radius: 8px;
  max-height: auto;
  width: 60%;
  text-align: center;
  margin: 8px;
  padding: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

/* Section */
section {
  display: flex;
  box-align: center;
  background-color: white;
  border-color: black;
  color: black;
  border-radius: 8px;
  max-height: auto;
  width: 90%;
  text-align: center;
  margin: 8px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: sans-serif;
}

input {
  border-radius: 4px;
  height: 80px;
  width: 400px;
  padding: 0px;
  margin: 0px;
}

.input_exec {
  border-radius: 4px;
  height: 80px;
  width: 32%;
  padding: 0px;
  margin: 0px;
}

/* Botão de Avançar */
.cssbuttons-io-button {
  background: #A370F0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* Botão de Voltar */
.cssbuttons-io-button_esquerdo {
  background: #A370F0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-right: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-left: 3.3em;
}

.cssbuttons-io-button_esquerdo .icon {
  background: white;
  margin-right: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  left: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button_esquerdo:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button_esquerdo .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button_esquerdo:hover .icon svg {
  transform: translateX(-0.1em);
}

.cssbuttons-io-button_esquerdo:active .icon {
  transform: scale(0.95);
}

/*Tabela*/
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  background-color: white;
}

h2 {
  color: white;
}

.resultados {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}